
.especialidades__container{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.especialidades__container-itens{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  text-align: right;
  border: 2px solid var(--verde-claro);
    margin: 1rem;
    border-radius: 0.5rem;
    width: 500px;
    color: var(--preto);
}

.especialidades__texto-container{
    margin: 2rem;
    text-align: justify;

}


.especialidades__especificacoes-imagem{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
}

.especialidades__especificacoes-titulo{
    font-size: 18px;
    font-weight: bolder;
}



.sobre__container .container__botao{
    text-align: center;
}
